<!-- footer -->
<footer class="footer">
    <div class="container">
      <nav class="footer-nav d-flex jc-sb">
        <ul class="footer-nav-menu d-flex ai-center">
          <li><a href="index.html">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="store.html">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="footer-social d-flex">
            <li>
              <a href="#"
                ><img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                  alt="fb"
              /></a>
            </li>
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                alt="ig"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                alt="line"
            /></a>
          </li>
        </ul>
      </nav>
      <div class="contact">
        <ul class="footer-contact">
          <li class="d-flex ai-center mb-8">
            <span class="material-symbols-outlined">
              call
              </span>
            <a href="tel:+886-0800000000">0800-000-000</a>
          </li>
          <li class="d-flex ai-center">
            <span class="material-symbols-outlined"> mail </span>
            <a href="glasses@business.com">glasses@business.com</a>
          </li>
        </ul>
        <ul class="display-none footer-contact-social">
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                alt="fb"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                alt="ig"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                alt="line"
            /></a>
          </li>
        </ul>
      </div>
      <div class="footer-copyright d-flex jc-sb">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <ul class="d-flex">
              <li class="sm-mb-8"><a href="#">隱私權政策</a></li>
              <li><a href="#">服務條款</a></li>
          </ul>
      </div>
    </div>
  </footer>