<!-- header -->
<header class="header">
    <div class="container-md-full d-flex flex-wrap jc-sb ai-center">
       <div class="logo">
        <img src="/assets/images/logo-white.png" alt="Logo">
        </div>
        <div class="jc-sb">
        <ul class="d-flex fs-1">
        <li class="nav">
            <a href="#">系列鏡框</a>
        </li>
        <li class="nav">
            <a href="#">門市據點</a>
        </li>
        <li class="nav">
            <a href="#">部落格</a>
        </li>
        <li class="nav-right nav-qust">
            <a href="#">常見問題</a>
        </li>
        </ul>
       </div>
  </div>
</header>