

.header{
	background: #AA0601;
	color: white;
	padding: 16px 0;	
	}

.logo{
	width: 80px;
	height: 48px;
}

li{
	display: block;
}
.nav{
	margin-right: 64px;
}
.nav:hover{
	font-weight: 700;
	color: #650300;
}
.nav-qust:hover{
	font-weight: 700;
	color: #650300;
}

@include mobile{
	
	.header{
		padding: 0;
		padding-top: 16px;
	}
	.flex-wrap{
		flex-wrap: wrap;
	}
	.logo{
		margin-bottom: 16px;
	}
	.header ul{
		flex-wrap: wrap;
		margin-right: -12px;
		margin-left: -12px;
	}
	.header li{
		border-top: 1px solid white;
		border-right: 1px solid white;
		padding: 12px 62px;
		text-align: center;
	}
	.nav{
		margin-right: 0px;
		width: 50%;
	}
	.nav-right{
		margin-right: 0px;
		width: 50%;
	}
	.nav:hover{
		font-weight: 700;
		color: #650300;
		background-color: antiquewhite;
	}
	.nav-qust:hover{
		font-weight: 700;
		color: #650300;
		background-color: antiquewhite;
	}
}