
@include pad{
	.container{
		max-width: 720px;
	}
}
@media mobile{
	.container{
		max-width: 372px;
	}
}

/*banner*/
.banner{
	color: $secondary;
	height: calc(100vh - 80.5px);
	background-image: url(/assets/images/home-header.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include pad{
		background-image: url(/assets/images/home-header-sm.png);
	}
    &-style {
	height: 100%;
	flex-direction: column;
	justify-content: center;
	}
	&-title {
		text-align: end;
	}
	&-button{
		background-color: $primary;
		color: white;
		padding: 6px 12px;
		cursor: pointer
	}
	&-button:hover{
		background-color: $bg-light;
		color: $primary;
	}
}
  @include mobile{
	.h1{
		font-size: 24px;
		font-weight: bold;
	}
	.h3{
		font-size: 16px;
	}
	.banner{
		height: 396px;
	}
  }


/*about*/
.about{
	background: $bg-light;
	padding-bottom: 80px;

	&-title{
		font-weight: bold;
		text-align: center;
		padding-top: 80px;
		margin-bottom: 24px;
	}

	&-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -12px;
		margin-right: -12px;
	}
}
.about-card{
		width: calc(25% - 18px);
		padding-bottom: 80px;
		padding: 0 12px;

		@include pad{
			width: calc(50% - 12px);
		}
		@include mobile{
			width: 100%;
		}
}
.about-card img{
	width: 83px;
}

@include pad{
	.h2{
		font-size: 48px;
	}
}
	@include mobile{
		.h2{
			font-size: 24px;
		}
}

/*series*/
.series-title{
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 48px;
}
.series-list{
	flex-wrap: wrap;
	justify-content: space-between;
	@include pad{
		justify-content: center;
		align-items: center;
	}
}
.series-card{
	width: calc(33.333% - 24px);
	text-align: center;
	@include pad{
		width: 70%;
	}
	@include mobile{
		width: 332px;
	}
}
.series-card img:hover{
	box-shadow: 0px 2px 6px rgba(0,0,.8,.8);
}
.series-card-title{
	color: $primary;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 80px;
}

/*join-design*/
.join-design{
	background-image: url(/assets/images/index-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.join-design-title{
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 48px;
	@include mobile{
		padding-top: 40px;
		padding-bottom: 24px;
	}
}
.join-design-card-title{
	color: $primary;
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: white;
}
.join-design-card-title:hover{
	color: antiquewhite;
}

@include pad{
	.flex-wrap{
		flex-wrap: wrap;
	}
	.join-design-card{
		width: 100%;
	}
}
.join-design-bot-1{
	padding-bottom: 80px;
	@include pad{
		padding-bottom: 24px;
	}
}
.join-design-bot-2{
	padding-bottom: 80px;
	@include mobile{
		padding-bottom: 40px;
	}
}

/*recommend*/
.recommend-title{
	color: $secondary;
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 48px;
	@include mobile{
		padding-top: 40px;
		padding-bottom: 24px;
	}
}
.recommend-list{
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: 80px;
	@include mobile-larger{
		padding: 0 12px;
	}
	@include mobile{
		justify-content: center;
		margin-bottom: 40px;
	}
}
.recommend-card{
	width: calc(25% - 18px);
	box-shadow: 0px 2px 6px rgba(0,0,0,.16);
	border-radius: 4px;
	@include pad{
		width: calc(50% - 12px);
	}
	@include mobile{
		width: 100%;
	}
}
@include pad{
	.mb-24{
		margin-bottom: 24px;
	}
}

.recommend-card:hover {
	background-color: $bg-light;
}
.recommend-card-contant{
	min-height: 205px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 16px;
	padding-left: 12px;
    padding-right: 12px;
}
time{
	color: #707070;
	font-size: 14px;
}

/*connect*/
.connect{
	background-color: $bg-light;
}
.connect-title{
	color: $secondary;
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 48px;
	@include mobile{
		padding-top: 40px;
		padding-bottom: 24px;
	}
}
.w-50{
	width: 50%;
}
 @include pad{
	.w-100{
		width: 100%;
	}
 }
.connect p{
	margin-bottom: 24px;
}
.connect-input{
	margin-top: 8px;
	margin-bottom: 16px;
	height: 36px;
	padding-left: 6px;
	border: 1px solid gray;
	background-color: #fbf2f2;
}
.connect-input:hover{
	background-color: white;
}
.connect-opinion{
	padding-top: 6px;
	padding-bottom: 100px;
	margin-top: 8px;
	margin-bottom: 16px;
	padding-left: 6px;
	border: 1px solid gray;
	background-color: $bg-light;
}
.connect-opinion:hover{
	background-color: white;
}
.connect-button{
	width: 50%;
	background: $primary;
	color: white;
	margin: 0 auto;
	border: none;
    cursor: pointer;
	padding: 16px 0;
	margin-top: 48px;
	margin-bottom: 80px;
	@include mobile{
		width: 100%;
	}
}
.connect-button:hover{
	background-color: $secondary;
}
 @include mobile{
	.fs-1{
		font-size: 16px;
	}
 }